//This is run in a $LK,"#exe",A="FF:::/Kernel/Kernel.PRJ,KConfig"${}.

U8 *kernel_config_options = "MemInit\0"
							"HeapInit\0"
							"VarInit\0"
							"HomeDir\0"
							"NoMP\0"
							"MountAHCIAuto\0"
							"DebugDistro\0"
							"Help";

#define CONFIG_MEM_INIT 		0
#define CONFIG_HEAP_INIT		1
#define CONFIG_VAR_INIT 		2
#define CONFIG_HOME_DIR 		3
#define CONFIG_NO_MP			4
#define CONFIG_MOUNT_AHCI_AUTO 	5
#define CONFIG_DEBUG_DISTRO 	6
#define CONFIG_OPTIONS_NUM		7

#define CONFIG_HELP				7

class CKConfig
{
	U8		*disk_cache_size_exp;
	CDoc	*add_dev;
	U8		*debug_distro_file, *debug_distro_start;
	U8		*home_dir;
	Bool	opts[CONFIG_OPTIONS_NUM];
	U8		mem_init_val, heap_init_val, var_init_val, boot_drive_let, mount_ide_auto_hd_let, mount_ide_auto_cd_let;
};

CKConfig *KConfigNew()
{
	CKConfig *c = CAlloc(sizeof(CKConfig));

	c->home_dir = StrNew("::/Home");
	c->disk_cache_size_exp = StrNew("Scale2Mem(0x80000,0x8000000)");
	c->boot_drive_let = 'C';
	c->opts[CONFIG_MOUNT_AHCI_AUTO] = TRUE;

	return c;
}

U0 KConfigDel(CKConfig *c)
{
	if (c)
	{
		Free(c->debug_distro_file);
		Free(c->home_dir);
		Free(c->disk_cache_size_exp);
		Free(c);
	}
}
