*.BIN
*.bin
!src/Home/Net/Drivers/Firmware/*.bin
!src/Home/Net/Drivers/Firmware/*.BIN
*.ZXE
*.MAP
/src/Boot
*.ELF
*.elf
*.sys
*.SYS
/src/EFI
/build/limine
/build/ovmf
*.raw
*.hdd
*.o
*.d
/zealbooter/src/limine.h
/zealbooter/bin
/zealbooter/obj
/build/*.iso
/release/*.iso
